.image-area{
    position:relative !important;
     width: max-content !important;
     display: inline-block !important;
}

.image-delete-button{
    right:8px !important;
    top:8px !important;
    position: absolute !important;
    background: black !important;
    color: white !important;
}